<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ name }}</title>
  </head>
  <body>
    <div id="app" class="container">
      <div class="row">
        <header class="twelve columns">
          <header id="logo">
            <h1>LOGO</h1>
          </header>
        </header>
      </div>
      <div class="row">
        <section id="tracker" class="eight columns">
          <h2>Tracker</h2>
          <div class="combatant"
            v-for="combatant in combatants"
            :class="{active: combatant == activeCombatant, turnOver: combatant.turnOver}">
              <!-- Turn over checkbox -->
            <input type="checkbox" v-model="combatant.turnOver">
              <!-- Displayed info -->
            <h4 v-show="!combatant.edit">{{combatant.init}}</h4>
            <h3>{{combatant.name}}</h3>
            <input type="text"
              v-show="combatant.edit  "
              v-model="combatant.init"
              @blur="combatant.edit = false"
              @keyup.enter="combatant.edit = false"
              @keyup.esc="cancelEdit(combatant)">
            <div class="u-pull-right">

              <!-- Buttons -->
              <button type="submit" @click="editCombatant(combatant)">edit</button>
              <button type="submit" @click="removeCombatant(combatant)">X</button>
            </div>

          </div>
          <div>
            <button @click="newRound">Next Round (start combat)</button>
            <p v-if="round != 0">Round {{round}}</p>
            <p v-if="activeCombatant">{{activeCombatant.name}} is active</p>
            <button v-on:click="sortCombatants">Sort</button>
          </div>
        </section>
        <section id="controls" class="four columns">
          <form v-on:submit.prevent>
            <h2>Add Combatant</h2>
            <label>
              Name: <input type="text" v-model="newCombatant.name">
            </label>
            <label>
              Init: <input type="text" v-model="newCombatant.init">
            </label>
            <button type="submit" v-on:click="addCombatant">Add</button>
          </form>
        </section>
      </div>
    </div>
  </body>
</html>

<style lang="scss">
  body {
    background: #87CEEB;
  }
  section {
    background: #FFDF8D;
  }
  h3, h4 {
    display: inline;
  }
  .combatant {
    border: 1px solid black;
    border-radius: 12px;
    margin: 4px;
    padding: 4px;
  }
  h4 {
    border: 1px solid black;
    border-radius: 12px;
  }
  .combatant.active {
    background: #FFD569;
  }
  .combatant.turnOver {
    background: gray;
  }

</style>
