<!DOCTYPE html>
<html>
		<head>
				<title>Welcome to Vue</title>
				<script src="https://npmcdn.com/vue@next/dist/vue.js"></script>
		</head>
		<body>
				<div id="app">
						<p v-if="round == 0"><button v-on:click="newRound">Begin Combat</button></p>
						<p v-else>Round {{round}}</p>
						<ol>
								<li class="combatant"
										v-for="(combatant, index) in combatants"
										:class="{turnOver: combatant.turnOver}">
										<span class="endTurnMarker"
												@click="endTurn(combatant)">
												E
										</span>
										<span>{{combatant.name}}</span>
										<span v-show="!combatant.edit">{{combatant.init}}</span>
										<input class="edit" type="text"
										v-show="combatant.edit"
										v-model="combatant.init"
										@blur="updateCombatant(combatant)"
										@keyup.enter="updateCombatant(combatant)"
										@keyup.esc="cancelEdit(combatant)">

										<button type="submit" v-on:click="editCombatant(combatant)">edit</button>
										<button type="submit" v-on:click="removeCombatant(index)">X</button>
								</li>
						</ol>
						<form v-on:submit.prevent>
								<h2>Add Combatant</h2>
								Name: <input type="text" v-model="combatantName"> {{combatantName}}
								Init: <input type="text" v-model="combatantInit"> {{combatantInit}}
								<button type="submit" v-on:click="addCombatant">Add</button>
						</form>
				</div>

				<script>
						vm = new Vue({
								el: '#app',
								data: {
										combatants: [],
										combatantName: '',
										combatantInit: '',
										errors: [],
										round: 0
								},
								methods: {
										addCombatant: function() {
												var name = this.combatantName.trim();
												var init = parseInt(this.combatantInit)
												if (name && Number.isInteger(init)) {
														this.combatants.push({
																name: name,
																init: init,
																edit: false,
																turnOver: false
														})
												} // Add error checking
										},
										removeCombatant: function(index) {
												this.combatants.splice(index, 1)
										},
										editCombatant: function(combatant) {
												combatant.origName = combatant.name;
												combatant.origInit = combatant.init;
												this.editedCombatant = combatant; // necessary?
												combatant.edit = true;
												console.log(combatant)
										},
										updateCombatant: function(combatant) {
												combatant.edit = false;
										},
										newRound: function() {
												this.sortCombatants();
												this.setAllActive();
												this.round++;
										},
										sortCombatants: function() {
												this.combatants.sort(function(a, b){
														if (a.init > b.init) {
																return -1;
														}
														if (a.init < b.init) {
																return 1;
														}
														return 0;
												})
										},
										setAllActive: function() {
												for (each of this.combatants) {
														each.active = true;
												}
										},
										endTurn: function(combatant) {
												console.log("turnOver")
												combatant.turnOver = true;
										}
								},
								directives: {
										'combatant-focus': function(value) { // Not currently implemented. Can't get index properly
												if(!value) {
														return;
												}
												var el = this.el;
												Vue.nextTick(function() {
														el.focus();
												})
										}
								}
						});
				</script>
		</body>
</html>
